#goods {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    width: 101%;
    height: 250%;
    display: grid;
    grid-template-columns: repeat(3,31%);
    grid-template-rows: repeat(4,24%);
    grid-column-gap: 25px;
    grid-row-gap: 20px;
    background-color: #f0f0f0;
    
}
.items {
    background-color: white;
    border-radius: 2px;
    border:#dbd7d7;
    border-width:1px;
    border-style:solid;
    display: flex;
    flex-direction: column;
    align-items:center;
    width: 100%;
    height: 330px;
    margin-bottom: -90px;
}

.价格 {
    font-size: 30px;
    color: cornflowerblue;
    font-family: fantasy;
}

.ButtonOfAddTOShoppingCar {
    margin-top: 20px;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border-color: #0dbfdd;
    background-color: #0dbfdd;
    color: white;
    font-size: 20px;
}
#沙发 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}


#床头柜 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

#游戏手柄 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

#洗衣机 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

#电风扇 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

#热水壶 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}