#myBillword {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    font-weight: 600;
    width: 100%;
    height: 50px;
    background-color: #f2bb7e;
    border-width:1px;
    border-style:solid;
    border-color: #f1b065;
}

#历史订单 {
    width: 35px;
    height: 35px;
}

.Billdiv {
    width: 100%;
    height: 100px;
    background-color: #fdfcf1;
    border-width:1px;
    border-style:solid;
    border-color: #cccccc;
}

.idAndTimeAndDelete {
    display: flex;
}

.idAndTime {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction:column;
}

.BillName {
    font-size: 21px;
    font-weight: 400;

}

.time {
    color: thistle;
    font-size: 14px;
}

.deleteImg {
    margin-top: 5px;
    margin-right: 5px;
    width: 26px;
    height: 26px;
    flex-flow: row-reverse;
}

.numAndPrice {
    display:flex;
    width: 100%;
    height: 30px;
}

.numInBill {
    width: 40px;
    height: 100%;
    color: thistle;
    font-size: 15px;
}

.sumInBill {
    width: 100px;
    height: 100%;
    font-size: 15px;
    margin-left: 140px;
}

.BillNumber {
    width: 100%;
    height: 20px;
    font-size: 16px;
    color: black;
}